openapi: 3.0.0
info:
  title: Helix API
  version: 3.0.0
  description: Helix Public API (no customer KYC/IDV). **This spec covers all of Helix
    3.x and is subject to change at any time.**
servers:
- url: https://sandbox-api.helix.q2.com
  description: Sandbox server
- url: https://api.helix.q2.com
  description: Production server
tags:
- name: Program
  description: Program endpoints
- name: Bank Document
  description: Bank Document endpoints
- name: Customer
  description: Customer endpoints
- name: Account
  description: Account endpoints
- name: Account Limits
  description: Account limit endpoints
- name: External Account
  description: External Account endpoints
- name: Transfer
  description: Transfer endpoints
- name: Card
  description: Card endpoints
- name: Card Limits and Controls
  description: Card limits and controls endpoints
- name: Card Mock
  description: Card mock endpoints
- name: Transaction
  description: Transaction endpoints
- name: Statement
  description: Statement endpoints
- name: Customer Relationship
  description: Customer Relationship endpoints
- name: Customer Document
  description: Customer Document endpoints
- name: Customer Beneficiary
  description: Customer Beneficiary endpoints
- name: Account Beneficiary
  description: Account Beneficiary endpoints
- name: External Account Document
  description: External Account Document endpoints
- name: Stop Pay
  description: Stop pay endpoints
- name: Fee
  description: Fee endpoints
security:
- basicAuth: []
paths:
  /account/addEntitlement:
    post:
      tags:
      - Account
      summary: Add an entitlement
      description: "Grant business account access to a customer related to the business.\n\
        [block:callout]\n{\n  \"type\": \"warning\",\n  \"body\": \"Use of this endpoint\
        \ requires approval from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountaddentitlement
      operationId: accountAddEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - accountId
              - requestingCustomerId
              - targetCustomerId
              - entitlement
              properties:
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                requestingCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer requesting
                      to add an entitlement
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                targetCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer being
                      granted an entitlement
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                entitlement:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Entitlement
      responses:
        '200':
          description: A confirmation the entitlement has been added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddEditEntitlement200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/close:
    post:
      tags:
      - Account
      summary: Close an account
      description: Close an account. If the account balance is greater than $0 or
        any interest is owed on the account those amounts are calculated and a <a
        href="https://docs.helix.q2.com/docs/transaction" target="_blank">transaction</a>
        is implicitly created with the sum of those amounts being credited into the
        given `closeToAccountId`. That transaction's `tag` property is also assigned
        the value in the `transactionTag` property (if specified).
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountclose
      operationId: accountClose
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                closeToAccountId:
                  allOf:
                    - description: |
                        The Helix-assigned ID for the account to receive remaining funds. This can be the accountId of an 
                        <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> or the externalAccountId of an 
                        <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a>. 
                        **Notes:** `closeToAccountId` is required if the account has a balance or earns interest. 
                        To close to a petty cash account, use the Helix Admin Console or the 
                        <a href="https://docs.helix.q2.com/docs/bulk-account-close-process" target="_blank">Bulk Account Close Process</a>.
                    - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                transactionTag:
                  allOf:
                  - description: A program-wide unique identifier that is to be associated
                      with the transaction created to move any funds out of the account
                      being closed.
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                closeReason:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountCloseReason
                closeReasonNotes:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountCloseReasonNotes
      responses:
        '200':
          description: The account closure and transaction (if applicable) details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClose200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/create:
    post:
      tags:
      - Account
      summary: Create an account
      description: Create a new account for a customer. See <a href="https://docs.helix.q2.com/docs/account"
        target="_blank">account object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountcreate
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - name
              - productId
              properties:
                customerId:
                  allOf:
                  - description: The Helix-assigned ID for the customer who owns the
                      account. For business accounts, this is the `customerId` of
                      the business entity.
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                name:
                  type: string
                  maxLength: 50
                productId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                targetDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                isclosable:
                  type: boolean
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                recurringContributionType:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/RecurringContributionType
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                recurringContributionStartDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                recurringContributionEndDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
                requestingCustomerId:
                  allOf:
                  - description: The Helix-assigned unique ID for the customer requesting
                      to open the account. Only used when opening a business account.
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountNumber:
                  type: string
                  maxLength: 50
                  pattern: ^[0-9]{1,50}$
                  description: If none specified, Helix will automatically assign
                    an account number. **Note:** Custom account numbers requires approval
                    from Q2 and your bank partner. Custom account numbers must be
                    numeric.
                legalName1:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountLegalName
                legalName2:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountLegalName
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/editEntitlement:
    post:
      tags:
      - Account
      summary: Edit an entitlement
      description: "Edit existing business account access for a customer related to\
        \ the business.\n[block:callout]\n{\n  \"type\": \"warning\",\n  \"body\"\
        : \"Use of this endpoint requires approval from Q2 and your bank partner.\"\
        \n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accounteditentitlement
      operationId: accountEditEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - accountId
              - requestingCustomerId
              - targetCustomerId
              - entitlement
              properties:
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                requestingCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer requesting
                      to edit an entitlement
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                targetCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer whose
                      entitlement is being edited
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                entitlement:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Entitlement
      responses:
        '200':
          description: A confirmation the entitlement has been edited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddEditEntitlement200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/get/{customerId}/{accountId}:
    get:
      tags:
      - Account
      summary: Get an account
      description: Retrieve a single account for the given `customerId` and `accountId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountget
      operationId: accountGet
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/getByTag/{customerId}/{tag}:
    get:
      tags:
      - Account
      summary: Get an account via tag
      description: Retrieve a single account for the given `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountgetbytag
      operationId: accountGetByTag
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/tag
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/limit/delete:
    post:
      tags:
      - Account Limits
      summary: Delete account limit(s)
      description: 'Delete one or more account limits set via <a href="https://docs.helix.q2.com/reference/accountlimitset"
        target="_blank">/account/limit/set</a>

        '
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitdelete
      operationId: accountLimitDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - limitIds
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                limitIds:
                  type: array
                  description: An array of up to 16 <a href="https://docs.helix.q2.com/docs/account-limit"
                    target="_blank">accountLimit.limitId</a>s to remove from the account
                  items:
                    $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/limit/list/{customerId}/{accountId}:
    get:
      tags:
      - Account Limits
      summary: List account limits
      description: "Retrieve all account limits for the given `customerId` and `accountId`.\
        \ \n[block:callout]\n{\n  \"type\": \"warning\",\n  \"body\": \"Use of this\
        \ route requires approval from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitList
      operationId: accountLimitList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/account-limit"
            target="_blank">accountLimit</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/limit/set:
    post:
      tags:
      - Account Limits
      summary: Set account limit(s)
      description: "Set or update one or more account limits\n[block:callout]\n{\n\
        \  \"type\": \"warning\",\n  \"body\": \"Use of this route requires approval\
        \ from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitset
      operationId: accountLimitSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - limits
              properties:
                limits:
                  type: array
                  description: An array of up to 16 <a href="https://docs.helix.q2.com/docs/account-limit"
                    target="_blank">accountLimit</a> objects to create or update
                  items:
                    $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountLimit
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/list/{customerId}:
    get:
      tags:
      - Account
      summary: List accounts
      description: Retrieve all accounts for the given `customerId`. Accounts with
        `status=Closed` may disappear from this list after a period of time no shorter
        than 32 days.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlist
      operationId: accountList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/listEntitlements/{customerId}/{accountId}:
    get:
      tags:
      - Account
      summary: List Entitlements
      description: "Retrieve all entitlements for a business account.\n[block:callout]\n\
        {\n  \"type\": \"warning\",\n  \"body\": \"Use of this endpoint requires approval\
        \ from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlistentitlements
      operationId: accountListEntitlements
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      - name: includeInactive
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/account-entitlement"
            target="_blank">accountEntitlement</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntitlementArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/lock:
    post:
      tags:
      - Account
      summary: Lock an account
      description: "Lock an account. Most locks can be reversed by calling [/account/unlock](https://docs.helix.q2.com/reference/accountunlock).\
        \ Please check the [/account/unlock](https://docs.helix.q2.com/reference/accountunlock)\
        \ documentation to see which lock scenarios can be subsequently unlocked.\n\
        \n Will apply a lockTypeCode of `CST` or `SYS` on success and the account\
        \ will be locked, meaning no funds transfers can take place.\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlock
      operationId: accountLock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - lockTypeCode
              - lockReasonTypeCode
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                lockTypeCode:
                  type: string
                  enum:
                  - CST
                  - SYS
                  description: '- `CST`: Customer Locked

                    - `SYS`: System Locked

                    '
                lockReasonTypeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/AccountLockReasonTypeCode
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/placeHold:
    post:
      tags:
      - Account
      summary: Place a hold
      description: "Place an indefinite hold on funds in a customer's account. Can\
        \ be reversed by calling [/account/releaseHold](ref:accountreleasehold).\n\
        [block:callout]\n{\n  \"type\": \"warning\",\n  \"body\": \"Use of this route\
        \ requires approval from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountplacehold
      operationId: accountPlaceHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - holdAmount
              - holdDescription
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                holdAmount:
                  type: number
                  format: decimal
                  description: The dollar amount of funds to place on hold
                holdDescription:
                  type: string
                  maxLength: 255
                  description: Free-form description for why the hold is being placed
                expirationDate:
                  allOf:
                  - description: The hold will expire shortly afer midnight (in the
                      Bank of Record's timezone) on the date provided. **Note:** The
                      time provided must be midnight (00:00:00.000)
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/releaseHold:
    post:
      tags:
      - Account
      summary: Release a hold
      description: "Release a hold on funds (created via [/account/placeHold](ref:accountplacehold)\
        \ in a customer's account. \n[block:callout]\n{\n  \"type\": \"warning\",\n\
        \  \"body\": \"Use of this route requires approval from Q2 and your bank partner.\"\
        \n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountreleasehold
      operationId: accountReleaseHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              properties:
                customerId:
                  allOf:
                  - description: The Helix-assigned unique ID for the customer who
                      owns the account
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  allOf:
                  - description: The Helix-assigned unique ID for the account
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/removeEntitlement:
    post:
      tags:
      - Account
      summary: Remove an entitlement
      description: "Remove a customer's access to a business account\n[block:callout]\n\
        {\n  \"type\": \"warning\",\n  \"body\": \"Use of this endpoint requires approval\
        \ from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountremoveentitlement
      operationId: accountRemoveEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - accountId
              - requestingCustomerId
              - targetCustomerId
              properties:
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                requestingCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer requesting
                      to remove an entitlement
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                targetCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer whose
                      entitlement is being removed
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/stopPay/createCheckStopPay:
    post:
      tags:
      - Stop Pay
      summary: Create check stop pay
      description: "See <a href=\"https://docs.helix.q2.com/docs/stop-pay\" target=\"\
        _blank\">stopPay object definition</a> for parameter details.\n[block:callout]\n\
        {\n  \"type\": \"warning\",\n  \"body\": \"Use of this route requires approval\
        \ from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppaycreatecheckstoppay
      operationId: accountStopPayCreateCheckStopPay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - checkNumberMinimum
              - checkNumberMaximum
              - amountMinimum
              - amountMaximum
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                checkNumberMinimum:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                checkNumberMaximum:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                amountMinimum:
                  type: number
                  format: decimal
                  minimum: 0.01
                amountMaximum:
                  type: number
                  format: decimal
                  minimum: 0.01
                expireDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                checkDateWritten:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                payeeName:
                  type: string
                comment:
                  type: string
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/stop-pay" target="_blank">stopPay</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/stopPay/expire:
    post:
      tags:
      - Stop Pay
      summary: Expire a stop pay
      description: "See <a href=\"https://docs.helix.q2.com/docs/stop-pay\" target=\"\
        _blank\">stopPay object definition</a> for parameter details.\n[block:callout]\n\
        {\n  \"type\": \"warning\",\n  \"body\": \"Use of this route requires approval\
        \ from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppayexpire
      operationId: accountStopPayExpire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - stopPayId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                stopPayId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/stop-pay" target="_blank">stopPay</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/stopPay/list/{customerId}/{accountId}:
    get:
      tags:
      - Stop Pay
      summary: List stop pays
      description: 'Retrieve a list of stop pays for a given customer and account.
        Maximum date range is 30 days.

        '
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppaylist
      operationId: accountStopPayList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      - name: beginDate
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Format is YYYY-MM-DD
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Format is YYYY-MM-DD
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/stop-pay"
            target="_blank">stopPay</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/unlock:
    post:
      tags:
      - Account
      summary: Unlock an account
      description: 'The following matrix details when this call will succeed or fail


        | Current lockTypeCode | Current lockReasonTypeCode | Result |

        | -------------------- | -------------------------- | ------ |

        | `CST`                | `UNK` - Unknown            | Success |

        | `CST`                | `TMP` - Temporary          | Success |

        | `CST`                | `FRZ` - Freeze             | Success |

        | `CST`                | `ADM` - Administrative     | Success |

        | `CST`                | `SUS` - Suspected fraud    | Success |

        | `CST`                | `CO` - Credits only        | Success |

        | `CST`                | `RTN` - Return risk        | Success |

        | `CST`                | `REC` - Recovery           | Success |

        | `CST`                | `DED` - Deceased           | Success |

        | `CST`                | `DOR` - Dormant            | Success |

        | `CST`                | `FRD` - Fraud investigation | Fail - Fraud investigation
        lock can not be unlocked by CST |

        | `SYS`                | `TMP`, `FRD`, `FRZ`, `ADM`, `SUS`, `CO` | Fail -
        SYS lock type cannot be unlocked by CST |


        The account will have a `lockTypeCode` of `UNL` upon successful completion
        of this call. The account is unlocked and ready for transfers to take place.

        '
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountunlock
      operationId: accountUnlock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /account/update:
    post:
      tags:
      - Account
      summary: Update an account
      description: See <a href="https://docs.helix.q2.com/docs/account" target="_blank">account
        object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountupdate
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - name
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                name:
                  type: string
                  maxLength: 50
                productId:
                  allOf:
                  - description: '**Note:**`productId` updates are not real-time in
                      the production environment. Changes may be delayed by up to
                      24 hours.'
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                targetAmount:
                  type: number
                  format: decimal
                targetDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                recurringContributionType:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/RecurringContributionType
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                recurringContributionStartDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                recurringContributionEndDate:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/DateTimeMidnight
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /accountBeneficiary/add:
    post:
      tags:
      - Account Beneficiary
      summary: Add account beneficiary
      description: Add a beneficiary to an <a href="https://docs.helix.q2.com/docs/account"
        target="_blank">account</a>. See <a href="https://docs.helix.q2.com/docs/account-beneficiary"
        target="_blank">accountBeneficiary object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryadd
      operationId: accountBeneficiaryAdd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - customerBeneficiaryId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                customerBeneficiaryId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                distributionDescription:
                  type: string
      responses:
        '200':
          description: A confirmation the beneficiary has been added to the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /accountBeneficiary/edit:
    post:
      tags:
      - Account Beneficiary
      summary: Edit account beneficiary
      description: Edit a beneficiary designation for a given <a href="https://docs.helix.q2.com/docs/account"
        target="_blank">account</a>. See <a href="https://docs.helix.q2.com/docs/account-beneficiary"
        target="_blank">accountBeneficiary object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryedit
      operationId: accountBeneficiaryEdit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - customerBeneficiaryId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                customerBeneficiaryId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                distributionDescription:
                  type: string
                isActive:
                  type: boolean
      responses:
        '200':
          description: A confirmation the beneficiary has been added to the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /accountBeneficiary/get/{customerId}/{accountId}/{customerBeneficiaryId}:
    get:
      tags:
      - Account Beneficiary
      summary: Get an account beneficiary
      description: Get a beneficiary for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryget
      operationId: accountBeneficiaryGet
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      - name: customerBeneficiaryId
        in: path
        required: true
        schema:
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/account-beneficiary" target="_blank">accountBeneficiary</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /accountBeneficiary/list/{customerId}/{accountId}:
    get:
      tags:
      - Account Beneficiary
      summary: List account beneficiaries
      description: List all beneficiaries for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiarylist
      operationId: accountBeneficiaryList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/accountId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/account-beneficiary"
            target="_blank">accountBeneficiary</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /accountBeneficiary/remove:
    post:
      tags:
      - Account Beneficiary
      summary: Remove account beneficiary
      description: Remove a beneficiary designation for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryremove
      operationId: accountBeneficiaryRemove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - accountId
              - customerBeneficiaryId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                customerBeneficiaryId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: A confirmation the beneficiary has been removed from the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /bankDocument/download/{culture}/{documentId}:
    get:
      tags:
      - Bank Document
      summary: Download a bank document
      description: Retrieve <a href="https://docs.helix.q2.com/docs/file-content"
        target="_blank">fileContent</a> for the given `culture` and `documentId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentdownload
      operationId: bankDocumentDownload
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/culture
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/documentId
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/file-content" target="_blank">fileContent</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContentObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /bankDocument/list/{culture}:
    get:
      tags:
      - Bank Document
      summary: List bank documents
      description: Retrieve a list of all bank documents for the given `culture`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentlist
      operationId: bankDocumentList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/culture
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/bank-document"
            target="_blank">bankDocument</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDocumentArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/addAccount:
    post:
      tags:
      - Card
      summary: Add an account to a card
      description: 'Add an account to a card. Can be reversed by calling [/card/removeAccount](https://docs.helix.q2.com/reference/cardremoveaccount)


        The `customerId` attempting to add the account must have an `accessTypeCode`
        of `FULL` to that account and the customer itself must have a `accessTypeCode`
        of `FULL` or `ACCT`.

        '
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardaddaccount
      operationId: cardAddAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              - accountId
              - cardPriority
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                accountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardPriority:
                  allOf:
                  - description: Priority the `accountId` will have. Must be between
                      `1` and `4` inclusive. If this matches the priority of an existing
                      account, that account's priority will be slid down one slot
                      (as will all other lower priority accounts as needed)
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardPriority
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/archive:
    post:
      tags:
      - Card
      summary: Archive a card
      description: "Archives a card. \n[block:callout]\n{\n  \"type\": \"warning\"\
        ,\n  \"body\": \"This is a one-way function; once a card is archived, it cannot\
        \ be \\\"unarchived.\\\"\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardarchive
      operationId: cardArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArchive200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/createDigital:
    post:
      tags:
      - Card
      summary: Create a digital card
      description: Create a new card in `Verified` status that is instantly available
        for use in mobile wallets. Cards created through this endpoint will have `isDigitalOnly`
        property set to `true` whenever retrieved via the `/card/get` or `/card/list`
        endpoints. This type of card will not have a physical card shipped to the
        customer. See <a href="https://docs.helix.q2.com/docs/card" target="_blank">card
        object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardcreatedigital
      operationId: cardCreateDigital
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardHolderCustomerId
              - vendorTypeCode
              - primaryAccountId
              - firstName
              - lastName
              - nickName
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                vendorTypeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardVendorTypeCode
                typeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardTypeCode
                primaryAccountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                qualifierCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/QualifierCode
                binId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                requestingCustomerId:
                  allOf:
                  - description: The helix-assigned unique ID for the customer requesting
                      to create a new virtual card for a business cardholder
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateDigital200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/fraudTextAlert/get/{customerId}/{cardId}:
    get:
      tags:
      - Card
      summary: Get fraud text enrollment status
      description: "[block:callout]\n{\n  \"type\": \"warning\",\n  \"body\": \"Use\
        \ of this endpoint requires approval from Q2 and your bank partner.\"\n}\n\
        [/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardfraudtextalertget
      operationId: cardFraudTextAlertGet
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/cardId
      responses:
        '200':
          description: The card's enrollment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardFraudTextAlertGet200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/fraudTextAlert/optOut:
    post:
      tags:
      - Card
      summary: Opt out of fraud texts
      description: "Initiate a cardholder opt out from fraud text alerts on a given\
        \ card.\n[block:callout]\n{\n  \"type\": \"warning\",\n  \"body\": \"Use of\
        \ this endpoint requires approval from Q2 and your bank partner.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardfraudtextalertoptout
      operationId: cardFraudTextAlertOptOut
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/get/{customerId}/{cardId}:
    get:
      tags:
      - Card
      summary: Get a card
      description: Retrieve card information by the given `customerId` and `cardId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardget
      operationId: cardGet
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/cardId
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/getByTag/{customerId}/{tag}:
    get:
      tags:
      - Card
      summary: Get a card via tag
      description: Retrieve card information by `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardgetbytag
      operationId: cardGetByTag
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/tag
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/hotlist:
    post:
      tags:
      - Card
      summary: Hotlist (permanently lock) a card
      description: "Permanently locks a card and sets `lockTypeCode=CST`.\n[block:callout]\n\
        {\n  \"type\": \"warning\",\n  \"body\": \"This is a one-way function and\
        \ cannot be undone.\"\n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardhotlist
      operationId: cardHotlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              - lockReasonTypeCode
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                lockReasonTypeCode:
                  type: string
                  enum:
                  - ATL
                  - DEC
                  - DES
                  - ESC
                  - FRD
                  - LST
                  - STA
                  - STL
                  - UPG
                  - VOD
                  description: '- `ACL`: AccountClosure

                    - `DEC`: Deceased

                    - `DES`: Destroyed

                    - `ESC`: Escheatment

                    - `FRD`: Fraud

                    - `LST`: Lost

                    - `STA`: Stale

                    - `STL`: Stolen

                    - `UPG`: DueToUpgrade

                    - `VOD`: Voided

                    '
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/initiate:
    post:
      tags:
      - Card
      summary: Initiate a card
      description: "Initiate a request to create a new card and mail it to a customer.\
        \ See <a href=\"https://docs.helix.q2.com/docs/card\" target=\"_blank\">card\
        \ object definition</a> for parameter details.\n[block:callout]\n{\n  \"type\"\
        : \"info\",\n  \"body\": \"In the Sandbox environment cards will always be\
        \ created with a `cardNumberMasked` value of `1111` and can be verified via\
        \ [/card/verify](https://docs.helix.q2.com/reference/cardverify) immediately.\"\
        \n}\n[/block]\n"
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardinitiate
      operationId: cardInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardHolderCustomerId
              - vendorTypeCode
              - primaryAccountId
              - firstName
              - lastName
              - nickName
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                vendorTypeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardVendorTypeCode
                typeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardTypeCode
                primaryAccountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                qualifierCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/QualifierCode
                binId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                newPin:
                  type: string
                  format: byte
                  description: For Shazam programs only. Visa DPS programs must call
                    the [/card/resetPin](https://docs.helix.q2.com/reference/cardresetpin)
                    endpoint separately. For physical-only cards, /card/resetPin can
                    be called once the card moves from `status=Initiated` to `status=Verified`.
                    For dual-issuance cards (physical and digital), /card/resetPin
                    can be called once the card moves from `status=Initiated` to `status=DigitalActivePhysicalPending`.
                isCreateDualIssuanceSinglePAN:
                  type: boolean
                  default: false
                  description: '`true` if this card will be an instant-issued debit
                    card ready for eCommerce activity that can also be provisioned
                    to a digital wallet. If `true` the card will be created with a
                    `status` of `DitalActivePhysicalInitiated` which will shortly
                    change to `DigitalActivePhysicalPending`. When card is in `DigitalActivePhysicalInitiated`
                    or `DigitalActivePhysicalPending` it can be provisioned into a
                    digital wallet via [/card/provision/applePay](https://docs.helix.q2.com/reference/cardprovisionapplepay)
                    or [/card/provision/googlePay](https://docs.helix.q2.com/reference/cardprovisiongooglepay).
                    When card is in `DigitalActivePhysicalPending` it will need to
                    be verified via [/card/verify](https://docs.helix.q2.com/reference/cardverify)
                    before a customer can use the physical card.

                    '
                isPhysicalCardOrdered:
                  type: boolean
                  default: true
                  description: "`true` to order a physical card, `false` to waive.\
                    \ \n"
                requestingCustomerId:
                  allOf:
                  - description: The Helix-assigned unique ID for the customer requesting
                      to create a new card for a business cardholder
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardCarrierMessage:
                  type: string
                  maxLength: 6
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                cardDesignIdentificationNumber:
                  type: string
                  maxLength: 16
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                cardVendorUniqueData:
                  type: string
                  maxLength: 50
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                photoImageId:
                  type: string
                  maxLength: 18
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
[...]
