openapi: 3.0.0
info:
  title: Helix API
  version: 3.x
  description: Helix Public API (no customer KYC/IDV). **This spec covers all of Helix 3.x and is subject to change at any time.**
servers:
  - url: https://sandbox-api.helix.q2.com
    description: Sandbox server
  - url: https://api.helix.q2.com
    description: Production server
tags:
  - name: Program
    description: Program endpoints
  - name: Bank Document
    description: Bank Document endpoints
  - name: Customer
    description: Customer endpoints
  - name: Account
    description: Account endpoints
  - name: External Account
    description: External Account endpoints
  - name: Transfer
    description: Transfer endpoints
  - name: Card
    description: Card endpoints
  - name: Card Limits and Controls
    description: Card limits and controls endpoints
  - name: Card Mock
    description: Card mock endpoints
  - name: Transaction
    description: Transaction endpoints
  - name: Statement
    description: Statement endpoints
  - name: Customer Relationship
    description: Customer Relationship endpoints
  - name: Customer Document
    description: Customer Document endpoints
  - name: Customer Beneficiary
    description: Customer Beneficiary endpoints
  - name: External Account Document
    description: External Account Document endpoints
security:
  - basicAuth: []
paths:
  /program/get:
    get:
      tags:
        - Program
      summary: Get program details
      description: Get your program settings and information. All values are read-only. Please contact your Q2 relationship manager if you wish to make any changes.
      externalDocs:
        url: https://docs.helix.q2.com/reference/programget
      operationId: programGet
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/program" target="_blank">program</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramGet200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /program/questionsList:
    get:
      tags:
        - Program
      summary: Get customer due diligence questions
      description: Retrieve active customer onboarding questions
      externalDocs:
        url: https://docs.helix.q2.com/reference/programquestionslist
      operationId: programQuestionsList
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/due-diligence-category" target="_blank">dueDiligenceCategory</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramQuestionsList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /program/listIndustryClassificationCodes:
    get:
      tags:
        - Program
      summary: List industry classification codes
      description: |
        List all industry classification codes for your program. These codes are only used when creating or updating business customers.
      externalDocs:
        url: https://docs.helix.q2.com/reference/programlistindustryclassificationcodes
      operationId: programListIndustryClassificationCodes
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageNumber
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageSize
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/industry-classification-code" target="_blank">industryClassificationCode</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramListIndustryClassiciationCodes200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /bankDocument/list/{culture}:
    get:
      tags:
        - Bank Document
      summary: List bank documents
      description: Retrieve a list of all bank documents for the given `culture`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentlist
      operationId: bankDocumentList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/culture
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/bank-document" target="_blank">bankDocument</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDocumentList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /bankDocument/download/{culture}/{documentId}:
    get:
      tags:
        - Bank Document
      summary: Download a bank document
      description: Retrieve <a href="https://docs.helix.q2.com/docs/file-content" target="_blank">fileContent</a> for the given `culture` and `documentId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentdownload
      operationId: bankDocumentDownload
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/culture
        - in: path
          required: true
          name: documentId
          schema:
            $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/file-content" target="_blank">fileContent</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDocumentDownload200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/list:
    get:
      tags:
        - Customer
      summary: List customers
      description: |
        List all customers for your program. The results are ordered by `lastName` then `firstName`. Each customer object will contain an additional property, `customerCount`, which can be used in combination with the `pageNumber` and `pageSize` query params to paginate results. All customers, regardless of any flags or status, will be returned.
      externalDocs:
        url: https://docs.helix.q2.com/reference/customerlist
      operationId: customerList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageNumber
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageSize
        - name: customerClass
          in: query
          required: false
          description: Limit which type of customers are returned. If no value is passed, all customers are returned.
          schema:
            type: string
            enum:
              - individual
              - business
      responses:
        '200':
          description: 'An array of <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> objects with null arrays for the following properties: accounts, addresses, cards, externalAccounts, phones'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/get/{customerId}:
    get:
      tags:
        - Customer
      summary: Get a customer
      description: Retrieve customer information by the `customerId` assigned by Helix.
      externalDocs:
        url: https://docs.helix.q2.com/reference/customerget
      operationId: customerGet
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGet200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/getByEmail/{emailAddress}:
    get:
      tags:
        - Customer
      summary: Get a customer via emailAddress
      description: Retrieve customer information by the `emailAddress` specified during customer creation.
      externalDocs:
        url: https://docs.helix.q2.com/reference/customergetbyemail
      operationId: customerGetByEmail
      parameters:
        - name: emailAddress
          in: path
          required: true
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGetByEmail200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/getByTag/{tag}:
    get:
      tags:
        - Customer
      summary: Get a customer via tag
      description: |
        Retrieve customer information by the `tag` (unique identifier) specified during customer creation.
        [block:callout]
        {
          "type": "info",
          "body": "This route will only retrieve customers whose `customer.status` is any of the following: `Active`, `Initiated`, `Manual Review`, `Verified`. Please use the [/customer/get](https://docs.helix.q2.com/reference/customerget) route to retrieve customers with any other `customer.status`."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customergetbytag
      operationId: customerGetByTag
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/tag
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGetByTag200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/search:
    post:
      tags:
        - Customer
      summary: Search for customers
      description: |
        Retrieve customer information by the given parameter(s). See <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer object definition</a> for parameter details. The results are ordered by `lastName` then `firstName`. Each customer object will contain an additional property, `customerCount`, which can be used in combination with the `pageNumber` and `pageSize` query params to paginate results. 
        [block:callout]
        {
          "type": "info",
          "body": "This endpoint requires a POST request despite the fact that it does not modify or create any data. This is to prevent sensitive data (such as taxId) from possibly being stored in any HTTP logs. "
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customersearch
      operationId: customerSearch
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageNumber
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageSize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerFirstName
                lastName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerLastName
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                taxId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxId
                driversLicenseNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerDriversLicenseNumber
                passportNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerPassportNumber
                emailAddress:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerEmailAddress
                birthDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                accounts:
                  type: array
                  items:
                    type: object
                    properties:
                      accountNumber:
                        type: string
                        maxLength: 15
      responses:
        '200':
          description: |
            An array of <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> objects with null arrays for the following properties: `accounts`, `addresses`, `cards`, `externalAccounts`, `phones`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearch200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/create:
    post:
      tags:
        - Customer
      summary: Create a customer
      description: |
        Create a customer record. See <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer object definition</a> for parameter details. The parameters you are required to pass to Helix can vary depending on your program settings. 
        [block:callout]
        {
          "type": "warning",
          "body": "This endpoint does not run KYC, fraud, OFAC, etc checks. Helix has an additional endpoint, `/customer/onboard`, for performing customer KYC/IDV. The behavior of `/customer/onboard` varies depending on your program settings and thus is not documented publicly. Please [contact us](https://www.q2.com/contact-us) for more information."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customercreate
      operationId: customerCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - isSubjectToBackupWithholding
                - isOptedInToBankCommunication
                - isDocumentsAccepted
              properties:
                firstName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerFirstName
                middleName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerFirstName
                lastName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerLastName
                suffix:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerSuffix
                birthDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                gender:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Gender
                culture:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Culture
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                taxId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxId
                taxIdType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxIdType
                driversLicenseNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerDriversLicenseNumber
                driversLicenseState:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/State
                driversLicenseIssueDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                driversLicenseExpireDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                passportNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerPassportNumber
                passportCountry:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerPassportCountry
                passportIssueDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                passportExpireDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                emailAddress:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerEmailAddress
                isSubjectToBackupWithholding:
                  type: boolean
                isOptedInToBankCommunication:
                  type: boolean
                isDocumentsAccepted:
                  type: boolean
                customField1:
                  type: string
                  maxLength: 100
                customField2:
                  type: string
                  maxLength: 100
                customField3:
                  type: string
                  maxLength: 100
                customField4:
                  type: string
                  maxLength: 100
                customField5:
                  type: string
                  maxLength: 100
                accessTypeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerAccessTypeCode
                residencyStatusType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ResidencyStatusType
                addresses:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/AddressIndividualOnly
                phones:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Phone
      responses:
        '200':
          description: A `customerId` and `customerToken` (if enabled for program)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/createBusiness:
    post:
      tags:
        - Customer
      summary: Create a business customer
      description: |
        Create a business customer record. See <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer object definition</a> for parameter details. The parameters you are required to pass to Helix can vary depending on your program settings. 
        [block:callout]
        {
          "type": "warning",
          "body": "Use of this endpoint requires approval from Q2 and your bank partner."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customercreatebusiness
      operationId: customercreatebusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - businessLegalName
                - legalEntityType
                - taxId
                - taxIdType
              properties:
                businessLegalName:
                  type: string
                legalEntityType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerLegalEntityTypeBusinessOnly
                taxId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxId
                taxIdType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxIdType
                businessDescription:
                  type: string
                doingBusinessAs:
                  type: string
                  maxLength: 200
                formationDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                formationState:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/State
                industryClassificationCodeId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                isTaxExempt:
                  type: boolean
                isSubjectToBackupWithholding:
                  type: boolean
                culture:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Culture
                isOptedInToBankCommunication:
                  type: boolean
                isDocumentsAccepted:
                  type: boolean
                accessTypeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerAccessTypeCode
                businessWebsite:
                  type: string
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                customField1:
                  type: string
                  maxLength: 100
                customField2:
                  type: string
                  maxLength: 100
                customField3:
                  type: string
                  maxLength: 100
                customField4:
                  type: string
                  maxLength: 100
                customField5:
                  type: string
                  maxLength: 100
                addresses:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/AddressBusinessOnly
                phones:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Phone
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateBusiness200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/createBusinessApplication:
    post:
      tags:
        - Customer
      summary: Submit business application
      description: |
        [block:callout]
        {
          "type": "warning",
          "body": "Use of this endpoint requires approval from Q2 and your bank partner."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customercreatebusinessapplication
      operationId: customerCreateBusinessApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - businessCustomerId
                - controlPersonCustomerId
                - controlPersonRelationshipType
                - controlPersonIsBeneficialOwner
                - isExemptFromBeneficialOwnership
              properties:
                businessCustomerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                controlPersonCustomerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                controlPersonRelationshipType:
                  type: string
                  enum:
                    - Signer
                    - Owner
                    - Non-transactional
                    - Beneficial Owner
                    - Trustee
                    - Successor Trustee
                    - Guardian
                    - Conservator
                    - Executor
                    - Agent
                    - Power of Attorney
                controlPersonIsBeneficialOwner:
                  type: boolean
                isExemptFromBeneficialOwnership:
                  type: boolean
                exemptFromBeneficialOwnershipReasonType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ExemptFromBeneficialOwnershipReasonType
                controlPersonBeneficialOwnerPercentage:
                  type: number
                  format: decimal
                controlPersonTitle:
                  type: string
                attestationDate:
                  type: string
                  format: datetime
                attesterTitle:
                  type: string
                attesterName:
                  type: string
                additionalRelatedCustomers:
                  type: array
                  items:
                    type: object
                    required:
                      - customerId
                      - relationshipType
                      - isBeneficialOwner
                      - canOpenAccounts
                    properties:
                      customerId:
                        $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                      relationshipType:
                        type: string
                        enum:
                          - Signer
                          - Owner
                          - Non-transactional
                          - Beneficial Owner
                          - Trustee
                          - Successor Trustee
                          - Guardian
                          - Conservator
                          - Executor
                          - Agent
                          - Power of Attorney
                      isBeneficialOwner:
                        type: boolean
                      beneficialOwnerPercentage:
                        type: number
                        format: decimal
                      canOpenAccounts:
                        type: boolean
                      title:
                        type: string
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/answerList/{customerId}:
    get:
      tags:
        - Customer
      summary: List a customer's due diligence responses
      externalDocs:
        url: https://docs.helix.q2.com/reference/customeranswerlist
      operationId: customerAnswerList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/due-diligence-category" target="_blank">dueDiligenceCategory</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAnswerList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/answerPost:
    post:
      tags:
        - Customer
      summary: Submit a customer's due diligence answers
      externalDocs:
        url: https://docs.helix.q2.com/reference/customeranswerpost
      operationId: customerAnswerPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - answers
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                answers:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DueDiligenceAnswer
                  description: An array of <a href="https://docs.helix.q2.com/docs/due-diligence-answer" target="_blank">dueDiligenceAnswer</a> objects
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ApiSuccessEnvelope
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/update:
    post:
      tags:
        - Customer
      summary: Update a customer
      description: |
        See <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer object definition</a> for parameter details.
        [block:callout]
        {
          "type": "warning",
          "body": "As a fraud prevention mechanism very few properties can be updated via API if your program uses Helix KYC/IDV. The following properties can only be updated if your program does NOT use Helix KYC/IDV: `firstName`, `middleName`, `lastName`, `suffix`, `birthDate`, `emailAddress`, `taxId`, `driversLicenseNumber`, `driversLicenseState`, `driversLicenseIssueDate`, `driversLicenseExpireDate`, `passportNumber`, `passportCountry`, `passportIssueDate`, `passportExpireDate`, `addresses`."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customerupdate
      operationId: customerUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                firstName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerFirstName
                middleName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerFirstName
                lastName:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerLastName
                suffix:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerSuffix
                birthDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                taxId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/TaxId
                driversLicenseNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerDriversLicenseNumber
                driversLicenseState:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/State
                driversLicenseIssueDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                driversLicenseExpireDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                passportNumber:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerPassportNumber
                passportCountry:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerPassportNumber
                passportIssueDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                passportExpireDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                emailAddress:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CustomerEmailAddress
                gender:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Gender
                culture:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Culture
                isSubjectToBackupWithholding:
                  type: boolean
                isOptedInToBankCommunication:
                  type: boolean
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                customField1:
                  type: string
                  maxLength: 100
                customField2:
                  type: string
                  maxLength: 100
                customField3:
                  type: string
                  maxLength: 100
                customField4:
                  type: string
                  maxLength: 100
                customField5:
                  type: string
                  maxLength: 100
                addresses:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Address
                phones:
                  type: array
                  items:
                    $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Phone
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/customer" target="_blank">customer</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUpdate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/note:
    post:
      tags:
        - Customer
      summary: Make a customer note
      description: Add notes to a customer record
      externalDocs:
        url: https://docs.helix.q2.com/reference/customernote
      operationId: customerNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - note
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                note:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: The `customerId` and `note`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNote200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/notesList/{customerId}:
    get:
      tags:
        - Customer
      summary: List customer notes
      description: Retrieve customer notes that were added via the admin console or API
      externalDocs:
        url: https://docs.helix.q2.com/reference/customernoteslist
      operationId: customerNotesList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageNumber
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/pageSize
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/customer-note" target="_blank">customerNote</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNotesList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/generateToken/{customerId}:
    get:
      tags:
        - Customer
      summary: Generate a customer token
      description: Retrieve customer token for the specified `customerId`. Only applicable if your program has customer-level authentication enabled.
      externalDocs:
        url: https://docs.helix.q2.com/reference/customergeneratetoken
      operationId: customerGenerateToken
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
      responses:
        '200':
          description: A `customerId` and `token`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGenerateToken200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /customer/archive:
    post:
      tags:
        - Customer
      summary: Archive a customer
      description: |
        [block:callout]
        {
          "type": "warning",
          "body": "This is a one-way function; once a customer is archived, it cannot be \"unarchived.\""
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/customerarchive
      operationId: customerArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                archiveReason:
                  type: string
                  enum:
                    - FirstPartyFraud
                    - ThirdPartyFraud
                    - SyntheticIdFraud
                    - AccountTakeoverFraud
                    - NonActivity
                    - CustomerRequest
                    - BankDiscretion
                    - Other
                  default: Other
                  description: |
                    - `FirstPartyFraud`: When someone uses his/her own identity to obtain products and services with no intent to fulfill their payment obligation.
                    - `ThirdPartyFraud`: When someone uses a stolen identity to commit fraud. Refers to fraud that is committed without the knowledge of the person whose identity is used to commit the fraud. 
                    - `SyntheticIdFraud`: When someone uses a possible combination of real and phony attributes, including possible real attributes that don’t correlate to each other, in order to assemble a phony identity. This information is then used to open fraudulent accounts and/or obtain goods and services.
                    - `AccountTakeoverFraud`: When someone uses another person's account information to make purchases or withdraw money and often involves changing credentials and/or personal profile information. 
                    - `NonActivity`: Non-Activity.
                    - `BankDiscretion`: Bank chose to archive for a non-fraud reason
                    - `Other`: Default value. Providing a detailed reason is strongly encouraged as it informs and improves fraud detection mechanisms. 
      responses:
        '200':
          description: A pared down customer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerArchive200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/list/{customerId}:
    get:
      tags:
        - Account
      summary: List accounts
      description: Retrieve all accounts for the given `customerId`. Accounts with `status=Closed` may disappear from this list after a period of time no shorter than 32 days.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlist
      operationId: accountList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/get/{customerId}/{accountId}:
    get:
      tags:
        - Account
      summary: Get an account
      description: Retrieve a single account for the given `customerId` and `accountId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountget
      operationId: accountGet
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/accountId
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGet200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/getByTag/{customerId}/{tag}:
    get:
      tags:
        - Account
      summary: Get an account via tag
      description: Retrieve a single account for the given `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountgetbytag
      operationId: accountGetByTag
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/tag
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetByTag200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/create:
    post:
      tags:
        - Account
      summary: Create an account
      description: Create a new account for a customer. See <a href="https://docs.helix.q2.com/docs/account" target="_blank">account object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountcreate
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - name
                - productId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                name:
                  type: string
                  maxLength: 50
                productId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                targetDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                isclosable:
                  type: boolean
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                recurringContributionType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/RecurringContributionType
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                recurringContributionStartDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                recurringContributionEndDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/lock:
    post:
      tags:
        - Account
      summary: Lock an account
      description: |
        Lock an account. Most locks can be reversed by calling [/account/unlock](https://docs.helix.q2.com/reference/accountunlock). Please check the [/account/unlock](https://docs.helix.q2.com/reference/accountunlock) documentation to see which lock scenarios can be subsequently unlocked.

         Will apply a lockTypeCode of `CST` or `SYS` on success and the account will be locked, meaning no funds transfers can take place.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlock
      operationId: accountLock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - lockTypeCode
                - lockReasonTypeCode
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                accountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                lockTypeCode:
                  type: string
                  enum:
                    - CST
                    - SYS
                  description: |
                    - `CST`: Customer Locked
                    - `SYS`: System Locked
                lockReasonTypeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/AccountLockReasonTypeCode
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLock200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/unlock:
    post:
      tags:
        - Account
      summary: Unlock an account
      description: |
        The following matrix details when this call will succeed or fail

        | Current lockTypeCode | Current lockReasonTypeCode | Result |
        | -------------------- | -------------------------- | ------ |
        | `CST`                | `UNK` - Unknown            | Success |
        | `CST`                | `TMP` - Temporary          | Success |
        | `CST`                | `FRZ` - Freeze             | Success |
        | `CST`                | `ADM` - Administrative     | Success |
        | `CST`                | `SUS` - Suspected fraud    | Success |
        | `CST`                | `CO` - Credits only        | Success |
        | `CST`                | `FRD` - Fraud investigation | Fail - Fraud investigation lock can not be unlocked by CST |
        | `SYS`                | `TMP`, `FRD`, `FRZ`, `ADM`, `SUS`, `CO` | Fail - SYS lock type cannot be unlocked by CST |

        The account will have a `lockTypeCode` of `UNL` upon successful completion of this call. The account is unlocked and ready for transfers to take place.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountunlock
      operationId: accountUnlock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                accountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUnlock200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/update:
    post:
      tags:
        - Account
      summary: Update an account
      description: See <a href="https://docs.helix.q2.com/docs/account" target="_blank">account object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountupdate
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - name
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                accountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                name:
                  type: string
                  maxLength: 50
                productId:
                  allOf:
                    - description: '**Note:**`productId` updates are not real-time in the production environment. Changes may be delayed by up to 24 hours.'
                    - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                targetAmount:
                  type: number
                  format: decimal
                targetDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                recurringContributionType:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/RecurringContributionType
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                recurringContributionStartDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                recurringContributionEndDate:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/DateTimeMidnight
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /account/close:
    post:
      tags:
        - Account
      summary: Close an account
      description: Close an account. If the account balance is greater than $0 or any interest is owed on the account those amounts are calculated and a <a href="https://docs.helix.q2.com/docs/transaction" target="_blank">transaction</a> is implicitly created with the sum of those amounts being credited into the given `closeToAccountId`. That transaction's `tag` property is also assigned the value in the `transactionTag` property (if specified).
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountclose
      operationId: accountClose
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                accountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                closeToAccountId:
                  allOf:
                    - description: |
                        The Helix-assigned unique ID for an account where any remaining funds should be transferred. This can be an `accountId` of an <a href="https://docs.helix.q2.com/docs/account" target="_blank">account</a>, `externalAccountId` of an <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> or an `accountId` of a Petty Cash <a href="https://docs.helix.q2.com/docs/program-account" target="_blank">programAccount</a>.
                        **Note:** If there is a balance on this account OR this is an interest-bearing account and interest is owed, `closeToAccountId` is a required parameter.
                    - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                transactionTag:
                  allOf:
                    - description: A program-wide unique identifier that is to be associated with the transaction created to move any funds out of the account being closed.
                    - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                closeReason:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/AccountCloseReason
                closeReasonNotes:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/AccountCloseReasonNotes
      responses:
        '200':
          description: The account closure and transaction (if applicable) details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClose200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/list/{customerId}:
    get:
      tags:
        - External Account
      summary: List external accounts
      description: List all external accounts for a given `customerId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountlist
      operationId: externalAccountList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/get/{customerId}/{externalAccountId}:
    get:
      tags:
        - External Account
      summary: Get an external account
      description: Retrieve externalAccount information by the given `customerId` and `externalAccountId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountget
      operationId: externalAccountGet
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - name: externalAccountId
          in: path
          required: true
          schema:
            $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountGet200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/getByTag/{customerId}/{tag}:
    get:
      tags:
        - External Account
      summary: Get an external account via tag
      description: Retrieve externalAccount information by the given `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountgetbytag
      operationId: externalAccountGetByTag
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/tag
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountGetByTag200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/create:
    post:
      tags:
        - External Account
      summary: Create an external account
      description: |
        Create a new external account with `status=Verified`. See <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount object definition</a> for parameter details.
        [block:callout]
        {
          "type": "warning",
          "body": "This endpoint is intended to be used in combination with an external IAV service such as Plaid and must be enabled for your program before use."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountcreate
      operationId: externalAccountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ExternalAccountCreateOrInitiate
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountCreate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/initiate:
    post:
      tags:
        - External Account
      summary: Initiate an external account
      description: |
        Initiates a new external account with `status=Unverified` and starts the micro-deposit process. See <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount object definition</a> for parameter details.
        [block:callout]
        {
          "type": "info",
          "body": "In the sandbox environment, if you have NACHA enabled, a \"magic value\" of `123456789` for the `routingNumber` property may be used for testing purposes. This will set the `name` to `COREPRO SANDBOX BANK`. Additionally, all trial deposit amounts in the Sandbox environment will be 0.18 and 0.28, and [/externalAccount/verify](https://docs.helix.q2.com/reference/externalaccountverify) can be called immediately. However, in production, a request to `/externalAccount/verify` must be sent at a later date to allow time for the ACH process to happen at the external bank."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountinitiate
      operationId: externalAccountInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/ExternalAccountCreateOrInitiate
      responses:
        '200':
          description: |
            An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountInitiate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/verify:
    post:
      tags:
        - External Account
      summary: Verify an external account
      description: |
        Verify trial deposit amounts that were sent via [/externalAccount/initiate](https://docs.helix.q2.com/reference/externalaccountinitiate). 

        **Note:** In the sandbox environment these values are harcoded to `0.18` and `0.28` to allow for easy testing since no ACH files are actually generated. 
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountverify
      operationId: externalAccountVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - externalAccountId
                - amount1
                - amount2
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                externalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                amount1:
                  type: string
                  description: Value of one of the trial deposit amounts
                amount2:
                  type: string
                  description: Value of one of the trial deposit amounts
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountVerify200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/lock:
    post:
      tags:
        - External Account
      summary: Lock an external account
      description: |
        [block:callout]
        {
          "type": "warning",
          "title": "",
          "body": "Use of this endpoint requires approval from Q2 and your bank partner"
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountlock
      operationId: externalAccountLock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - externalAccountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                externalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountLock200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/unlock:
    post:
      tags:
        - External Account
      summary: Unlock an external account
      description: |
        [block:callout]
        {
          "type": "warning",
          "title": "",
          "body": "Use of this endpoint requires approval from Q2 and your bank partner"
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountunlock
      operationId: externalAccountUnlock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - externalAccountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                externalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountUnlock200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/update:
    post:
      tags:
        - External Account
      summary: Update an external account
      description: See <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountupdate
      operationId: externalAccountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - externalAccountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                externalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                nickname:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/docs/external-account" target="_blank">externalAccount</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountUpdate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /externalAccount/archive:
    post:
      tags:
        - External Account
      summary: Archive an external account
      description: |
        Archives an external account, meaning it can not be used in future transfers. An external account cannot be archived while it has pending transactions.
        [block:callout]
        {
          "type": "warning",
          "body": "This is a one-way function; once an external account is archived, it cannot be \"unarchived.\" Additionally, there is a limit of 3 external accounts that can be archived per customer, per day. This limit resets to 0 daily between midnight and 5:00 AM in the corresponding Time Zone of your Bank of Record."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/externalaccountarchive
      operationId: externalAccountArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - externalAccountId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                externalAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: A `customerId`, `externalAccountId` and `status`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountArchive200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /transfer/create:
    post:
      tags:
        - Transfer
      summary: Create a transfer
      description: Transfer funds from one account to another. Results in a new transaction which can be retrieved via the various [/transaction/*](https://docs.helix.q2.com/reference/transaction-reference) endpoints. See <a href="https://docs.helix.q2.com/docs/transfer" target="_blank">transfer object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/transfercreate
      operationId: transferCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - fromId
                - toId
                - amount
              properties:
                amount:
                  type: number
                  format: decimal
                  minimum: 0.01
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                description:
                  type: string
                fromId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                isSameDaySettle:
                  type: boolean
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                toId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                toCustomerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                toCustomerTag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                toTransactionTag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/transfer-response" target="_blank">transferResponse</a> objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferCreate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /transfer/void:
    post:
      tags:
        - Transfer
      summary: Void a transfer
      description: |
        Void a transfer previously created via [/transfer/create](https://docs.helix.q2.com/reference/transfercreate).

        **Note:** Only transactions with `status=Initiated` may be voided.
      externalDocs:
        url: https://docs.helix.q2.com/reference/transfervoid
      operationId: transferVoid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - customerId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                tag:
                  allOf:
                    - description: Required if `transactionId` not present
                    - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                transactionId:
                  allOf:
                    - description: Required if `tag` not present
                    - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId64
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/transfer-response" target="_blank">transferResponse</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferVoid200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/list/{customerId}:
    get:
      tags:
        - Card
      summary: List cards
      description: Retrieve all card information for the given `customerId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardlist
      operationId: cardList
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - Default
              - All
              - Archived
              - Denied
              - Expired
              - Hotlisted
              - Initiated
              - Pending
              - PendingVerification
              - Reissued
              - ReissuedPendingVerification
              - AutoReissuedPendingVerification
              - Verified
            default: Default
            description: Specify a single card status to be returned. Only one value can be passed. `Default` includes `Archived`, `Denied`, `Expired`, `Hotlisted`, `Initiated`, `Pending`, `PendingVerification`, `Reissued`, `ReissuedPendingVerification`, `AutoReissuedPendingVerification` and `Verified`
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardList200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/get/{customerId}/{cardId}:
    get:
      tags:
        - Card
      summary: Get a card
      description: Retrieve card information by the given `customerId` and `cardId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardget
      operationId: cardGet
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - in: path
          name: cardId
          required: true
          schema:
            $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardGet200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/getByTag/{customerId}/{tag}:
    get:
      tags:
        - Card
      summary: Get a card via tag
      description: Retrieve card information by `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardgetbytag
      operationId: cardGetByTag
      parameters:
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/customerId
        - $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/parameters/tag
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardGetByTag200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/initiate:
    post:
      tags:
        - Card
      summary: Initiate a card
      description: |
        Initiate a request to create a new card and mail it to a customer. See <a href="https://docs.helix.q2.com/docs/card" target="_blank">card object definition</a> for parameter details.
        [block:callout]
        {
          "type": "info",
          "body": "In the Sandbox environment cards will always be created with a `cardNumberMasked` value of `1111` and can be verified via [/card/verify](https://docs.helix.q2.com/reference/cardverify) immediately."
        }
        [/block]
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardinitiate
      operationId: cardInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardHolderCustomerId
                - vendorTypeCode
                - primaryAccountId
                - firstName
                - lastName
                - nickName
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                vendorTypeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CardVendorTypeCode
                typeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CardTypeCode
                primaryAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                qualifierCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/QualifierCode
                binId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                newPin:
                  type: string
                  format: byte
                isCreateDualIssuanceSinglePAN:
                  type: boolean
                  default: false
                  description: |
                    `true` if this card will be an instant-issued debit card ready for eCommerce activity that can also be provisioned to a digital wallet. If `true` the card will be created with a `status` of `DitalActivePhysicalInitiated` which will shortly change to `DigitalActivePhysicalPending`. When card is in `DigitalActivePhysicalInitiated` or `DigitalActivePhysicalPending` it can be provisioned into a digital wallet via [/card/provision/applePay](https://docs.helix.q2.com/reference/cardprovisionapplepay) or [/card/provision/googlePay](https://docs.helix.q2.com/reference/cardprovisiongooglepay). When card is in `DigitalActivePhysicalPending` it will need to be verified via [/card/verify](https://docs.helix.q2.com/reference/cardverify) before a customer can use the physical card.
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInitiate200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/verify:
    post:
      tags:
        - Card
      summary: Verify a card
      description: Verify a customer has received a physical card and activate it for use.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardverify
      operationId: cardVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - birthDate
                - cardNumberMasked
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                cardId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                birthDate:
                  type: string
                  format: date
                  description: The birthday of the `customerId` who created the card. Format is YYYY-MM-DD.
                cardNumberMasked:
                  type: integer
                  description: The last four digits of the card number. In sandbox this value is always 1111
                  minimum: 1000
                  maximum: 9999
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object with `status=Verified`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardVerify200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/createDigital:
    post:
      tags:
        - Card
      summary: Create a digital card
      description: Create a new card in `Verified` status that is instantly available for use in mobile wallets. Cards created through this endpoint will have `isDigitalOnly` property set to `true` whenever retrieved via the `/card/get` or `/card/list` endpoints. This type of card will not have a physical card shipped to the customer. See <a href="https://docs.helix.q2.com/docs/card" target="_blank">card object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardcreatedigital
      operationId: cardCreateDigital
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardHolderCustomerId
                - vendorTypeCode
                - primaryAccountId
                - firstName
                - lastName
                - nickName
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                vendorTypeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CardVendorTypeCode
                typeCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/CardTypeCode
                primaryAccountId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/Tag
                qualifierCode:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/QualifierCode
                binId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
      responses:
        '200':
          description: A <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateDigital200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/provision/applePay:
    post:
      tags:
        - Card
      summary: Provision to Apple Pay
      description: Get Apple Pay enrypted data for provisioning into Apple Pay Wallet.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardprovisionapplepay
      operationId: cardProvisionApplePay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - certificates
                - nonceBase64
                - nonceSignatureBase64
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                cardId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                certificates:
                  type: array
                  description: json string array of base 64 encoded Apple X.509 certificates (returned by Apple)
                  items:
                    type: string
                    format: byte
                nonceBase64:
                  type: string
                  format: byte
                  description: Base64 random number generated to avoid replay attacks (returned by Apple)
                nonceSignatureBase64:
                  type: string
                  format: byte
                  description: Base64 nonce signature (* returned by Apple)
      responses:
        '200':
          description: Data to pass to Apple for tokenization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProvisionApplePay200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/provision/googlePay:
    post:
      tags:
        - Card
      summary: Provision to Google Pay
      description: Get Google Pay enrypted data for provisioning into Google Pay Wallet.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardprovisiongooglepay
      operationId: cardProvisionGooglePay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - deviceId
                - clientCustomerId
              properties:
                customerId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                cardId:
                  $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/schemas/HelixId32
                deviceId:
                  type: string
                  description: Customer’s Android Device ID
                clientCustomerId:
                  type: string
                  description: Customer’s Wallet account ID from Google Pay SDK.
      responses:
        '200':
          description: Data to pass to Google for tokenization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProvisionGooglePay200Response'
        '400':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/400
        '401':
          $ref: https://api.swaggerhub.com/domains/Q2BaaS/HelixComponents/3.x#/components/responses/401
  /card/addAccount:
    post:
      tags:
        - Card
      summary: Add an account to a card
[...]
