openapi: 3.0.0
info:
  title: Helix API
  version: 3.0.0
  description: >-
    Helix Public API (no customer KYC/IDV). **This spec covers all of Helix 3.x
    and is subject to change at any time.**
servers:
  - url: https://sandbox-api.helix.q2.com
    description: Sandbox server
  - url: https://api.helix.q2.com
    description: Production server
tags:
  - name: Account
    description: Endpoints for the account object
  - name: Account - Entitlement
    description: Endpoints related to account entitlements
  - name: Account - Hold
    description: Endpoints related to account holds
  - name: Account - Limit
    description: Endpoints related to account limits
  - name: Account - Stop Pay
    description: Endpoints related to account stop payments
  - name: Account Beneficiary
    description: Endpoints for the accountBeneficiary object
  - name: Bank Document
    description: Endpoints for the bankDocument object
  - name: Card
    description: Endpoints for the card object
  - name: Card - Fraud Text Alert
    description: Endpoints related to fraud text alerts
  - name: Card - Limit
    description: Endpoints related to card limits
  - name: Card - Mock
    description: Endpoints related to simulating card workflows
  - name: Card - Provision
    description: Endpoints related to card provisioning
  - name: Card - Risk Factor
    description: Endpoints related to card risk factors
  - name: Card Control
    description: Endpoints for the cardControl object
  - name: Customer
    description: Endpoints for the customer object
  - name: Customer - Due Diligence
    description: Endpoints related to customer due diligence
  - name: Customer Beneficiary
    description: Endpoints for the customerBeneficiary object
  - name: Customer Document
    description: Endpoints for the customerDocument object
  - name: Customer Relationship
    description: Endpoints for the customerRelationship object
  - name: External Account
    description: Endpoints for the externalAccount object
  - name: External Account Document
    description: Endpoints for the externalAccountDocument object
  - name: Fee
    description: Endpoints for the fee object
  - name: Program
    description: Endpoints for the program object
  - name: Statement
    description: Endpoints for the statement object
  - name: Transaction
    description: Endpoints for the transaction object
  - name: Transaction - Wire
    description: Endpoints related to wire transactions
  - name: Transfer
    description: Endpoints for the transfer object
  - name: Transfer - Wire
    description: Endpoints related to wire transfer objects
security:
  - basicAuth: []
paths:
  /account/create:
    post:
      tags:
        - Account
      summary: Create an account
      description: >-
        Create a new account for a customer. See <a
        href="https://docs.helix.q2.com/docs/account" target="_blank">account
        object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountcreate
      operationId: accountCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - name
                - productId
              properties:
                customerId:
                  allOf:
                    - description: >-
                        The Helix-assigned ID for the customer who owns the
                        account. For business accounts, this is the `customerId`
                        of the business entity.
                    - $ref: '#/components/schemas/HelixId'
                name:
                  type: string
                  maxLength: 50
                productId:
                  $ref: '#/components/schemas/HelixId'
                targetDate:
                  type: string
                  format: date-time
                  example: '2000-07-04T00:00:00.000+00:00'
                isclosable:
                  type: boolean
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: '#/components/schemas/TagProperty'
                recurringContributionType:
                  type: string
                  enum:
                    - None
                    - BiWeekly
                    - Monthly
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: '#/components/schemas/HelixId'
                recurringContributionStartDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                recurringContributionEndDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The Helix-assigned unique ID for the customer requesting
                        to open the account. Only used when opening a business
                        account.
                    - $ref: '#/components/schemas/HelixId'
                accountNumber:
                  type: string
                  maxLength: 50
                  pattern: ^[0-9]{1,50}$
                  description: >-
                    If none specified, Helix will automatically assign an
                    account number. **Note:** Custom account numbers requires
                    approval from Q2 and your bank partner. Custom account
                    numbers must be numeric.
                legalName1:
                  type: string
                  maxLength: 100
                legalName2:
                  $ref: '#/components/schemas/LegalName'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/get/{customerId}/{accountId}:
    get:
      tags:
        - Account
      summary: Get an account
      description: Retrieve a single account for the given `customerId` and `accountId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountget
      operationId: accountGet
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - name: accountId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/getByTag/{customerId}/{tag}:
    get:
      tags:
        - Account
      summary: Get an account via tag
      description: Retrieve a single account for the given `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountgetbytag
      operationId: accountGetByTag
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/TagPath'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/list/{customerId}:
    get:
      tags:
        - Account
      summary: List accounts
      description: >-
        Retrieve all accounts for the given `customerId`. Accounts with
        `status=Closed` may disappear from this list after a period of time no
        shorter than 32 days.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlist
      operationId: accountList
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
      responses:
        '200':
          description: >-
            An array of <a href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/update:
    post:
      tags:
        - Account
      summary: Update an account
      description: >-
        See <a href="https://docs.helix.q2.com/docs/account"
        target="_blank">account object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountupdate
      operationId: accountUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - name
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                name:
                  type: string
                  maxLength: 50
                productId:
                  allOf:
                    - description: >-
                        **Note:**`productId` updates are not real-time in the
                        production environment. Changes may be delayed by up to
                        24 hours.
                    - $ref: '#/components/schemas/HelixId'
                targetAmount:
                  type: number
                  format: decimal
                targetDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                category:
                  type: string
                  maxLength: 50
                subcategory:
                  type: string
                  maxLength: 50
                tag:
                  $ref: '#/components/schemas/TagProperty'
                recurringContributionType:
                  $ref: '#/components/schemas/RecurringContributionType'
                recurringContributionAmount:
                  type: number
                  format: decimal
                recurringContributionFromExternalAccountId:
                  $ref: '#/components/schemas/HelixId'
                recurringContributionStartDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                recurringContributionEndDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                customField1:
                  type: string
                  maxLength: 50
                customField2:
                  type: string
                  maxLength: 50
                customField3:
                  type: string
                  maxLength: 50
                customField4:
                  type: string
                  maxLength: 50
                customField5:
                  type: string
                  maxLength: 50
                accountMinimumBalance:
                  type: number
                  format: decimal
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/lock:
    post:
      tags:
        - Account
      summary: Lock an account
      description: >
        Lock an account. Most locks can be reversed by calling
        [/account/unlock](https://docs.helix.q2.com/reference/accountunlock).
        Please check the
        [/account/unlock](https://docs.helix.q2.com/reference/accountunlock)
        documentation to see which lock scenarios can be subsequently unlocked.

         Will apply a lockTypeCode of `CST` or `SYS` on success and the account will be locked, meaning no funds transfers can take place.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlock
      operationId: accountLock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - lockTypeCode
                - lockReasonTypeCode
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                lockTypeCode:
                  type: string
                  enum:
                    - CST
                    - SYS
                  description: |
                    - `CST`: Customer Locked
                    - `SYS`: System Locked
                lockReasonTypeCode:
                  type: string
                  enum:
                    - UNK
                    - FRD
                    - ADM
                    - TMP
                    - FRZ
                    - SUS
                    - CO
                    - RTN
                    - REC
                    - DED
                    - DOR
                  description: |
                    - `UNK`: Unknown
                    - `FRD`: Fraud investigation
                    - `ADM`: Administrative
                    - `TMP`: Temporary
                    - `FRZ`: Freeze
                    - `SUS`: Suspected fraud
                    - `CO`: Credits only
                    - `RTN`: Return risk
                    - `REC`: Recovery
                    - `DED`: Deceased
                    - `DOR`: Dormant
                accountLockClassificationCode:
                  type: string
                  nullable: true
                  maxLength: 10
                  description: >-
                    An optional program-configured classification code for the
                    lock. Must be a value from the configured list for the
                    program.
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/unlock:
    post:
      tags:
        - Account
      summary: Unlock an account
      description: >
        The following matrix details when this call will succeed or fail


        | Current lockTypeCode | Current lockReasonTypeCode | Result |

        | -------------------- | -------------------------- | ------ |

        | `CST`                | `UNK` - Unknown            | Success |

        | `CST`                | `TMP` - Temporary          | Success |

        | `CST`                | `FRZ` - Freeze             | Success |

        | `CST`                | `ADM` - Administrative     | Success |

        | `CST`                | `SUS` - Suspected fraud    | Success |

        | `CST`                | `CO` - Credits only        | Success |

        | `CST`                | `RTN` - Return risk        | Success |

        | `CST`                | `REC` - Recovery           | Success |

        | `CST`                | `DED` - Deceased           | Success |

        | `CST`                | `DOR` - Dormant            | Success |

        | `CST`                | `FRD` - Fraud investigation | Fail - Fraud
        investigation lock can not be unlocked by CST |

        | `SYS`                | `TMP`, `FRD`, `FRZ`, `ADM`, `SUS`, `CO` | Fail
        - SYS lock type cannot be unlocked by CST |


        The account will have a `lockTypeCode` of `UNL` upon successful
        completion of this call. The account is unlocked and ready for transfers
        to take place.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountunlock
      operationId: accountUnlock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/close:
    post:
      tags:
        - Account
      summary: Close an account
      description: >-
        Close an account. If the account balance is greater than $0 or any
        interest is owed on the account those amounts are calculated and a <a
        href="https://docs.helix.q2.com/docs/transaction"
        target="_blank">transaction</a> is implicitly created with the sum of
        those amounts being credited into the given `closeToAccountId`. That
        transaction's `tag` property is also assigned the value in the
        `transactionTag` property (if specified).
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountclose
      operationId: accountClose
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                closeToAccountId:
                  allOf:
                    - description: >
                        The Helix-assigned ID for the account to receive
                        remaining funds. This can be the accountId of an 

                        <a href="https://docs.helix.q2.com/docs/account"
                        target="_blank">account</a> or the externalAccountId of
                        an 

                        <a
                        href="https://docs.helix.q2.com/docs/external-account"
                        target="_blank">externalAccount</a>. 

                        **Notes:** `closeToAccountId` is required if the account
                        has a balance or earns interest. 

                        To close to a petty cash account, use the Helix Admin
                        Console or the 

                        <a
                        href="https://docs.helix.q2.com/docs/bulk-account-close-process"
                        target="_blank">Bulk Account Close Process</a>.
                    - $ref: '#/components/schemas/HelixId'
                transactionTag:
                  allOf:
                    - description: >-
                        A program-wide unique identifier that is to be
                        associated with the transaction created to move any
                        funds out of the account being closed.
                    - $ref: '#/components/schemas/TagProperty'
                closeReason:
                  type: string
                  enum:
                    - Fraud
                    - Never funded
                    - BSA reasons
                    - Relationship ended
                    - Deceased
                    - Other
                    - Consolidating Bank Accounts
                    - re-CIP
                    - Risk-Related
                    - Member Requested
                    - Negative Balance (Reopen Eligible)
                    - Negative Balance (Reopen Ineligible)
                    - ID Theft
                    - Account Take Over
                    - Dormant
                  description: >
                    The following values are not enabled by default and require
                    additional configuration. Contact the Helix Support team for
                    more information.
                     
                    - `re-CIP`

                    - `Risk-Related`

                    - `Member Requested`

                    - `Negative Balance (Reopen Eligible)`

                    - `Negative Balance (Reopen Ineligible)`

                    - `ID Theft`

                    - `Account Take Over`

                    - `Dormant`
                closeReasonNotes:
                  type: string
                  maxLength: 255
                  description: Required if `closeReason` is `Other`
      responses:
        '200':
          description: The account closure and transaction (if applicable) details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClose200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/addEntitlement:
    post:
      tags:
        - Account - Entitlement
      summary: Add an entitlement
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountaddentitlement
      operationId: accountAddEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - requestingCustomerId
                - targetCustomerId
                - entitlement
              properties:
                accountId:
                  $ref: '#/components/schemas/HelixId'
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer requesting
                        to add an entitlement
                    - $ref: '#/components/schemas/HelixId'
                targetCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer being
                        granted an entitlement
                    - $ref: '#/components/schemas/HelixId'
                entitlement:
                  $ref: '#/components/schemas/AccountAddEditEntitlement200Response/allOf/1/properties/data/properties/entitlement'
      responses:
        '200':
          description: A confirmation the entitlement has been added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddEditEntitlement200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/listEntitlements/{customerId}/{accountId}:
    get:
      tags:
        - Account - Entitlement
      summary: List Entitlements
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlistentitlements
      operationId: accountListEntitlements
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/AccountIdPath'
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: >-
            An array of <a
            href="https://docs.helix.q2.com/docs/account-entitlement"
            target="_blank">accountEntitlement</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntitlementArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/editEntitlement:
    post:
      tags:
        - Account - Entitlement
      summary: Edit an entitlement
      externalDocs:
        url: https://docs.helix.q2.com/reference/accounteditentitlement
      operationId: accountEditEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - requestingCustomerId
                - targetCustomerId
                - entitlement
              properties:
                accountId:
                  $ref: '#/components/schemas/HelixId'
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer requesting
                        to edit an entitlement
                    - $ref: '#/components/schemas/HelixId'
                targetCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer whose
                        entitlement is being edited
                    - $ref: '#/components/schemas/HelixId'
                entitlement:
                  $ref: '#/components/schemas/AccountAddEditEntitlement200Response/allOf/1/properties/data/properties/entitlement'
      responses:
        '200':
          description: A confirmation the entitlement has been edited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAddEditEntitlement200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/removeEntitlement:
    post:
      tags:
        - Account - Entitlement
      summary: Remove an entitlement
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountremoveentitlement
      operationId: accountRemoveEntitlement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - requestingCustomerId
                - targetCustomerId
              properties:
                accountId:
                  $ref: '#/components/schemas/HelixId'
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer requesting
                        to remove an entitlement
                    - $ref: '#/components/schemas/HelixId'
                targetCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer whose
                        entitlement is being removed
                    - $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArray200Response/allOf/0'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/placeHold:
    post:
      tags:
        - Account - Hold
      summary: Place a hold
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountplacehold
      operationId: accountPlaceHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - holdAmount
                - holdDescription
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                holdAmount:
                  type: number
                  format: decimal
                  description: The dollar amount of funds to place on hold
                holdDescription:
                  type: string
                  maxLength: 255
                  description: Free-form description for why the hold is being placed
                expirationDate:
                  allOf:
                    - description: >-
                        The hold will expire shortly afer midnight (in the Bank
                        of Record's timezone) on the date provided. **Note:**
                        The time provided must be midnight (00:00:00.000)
                    - $ref: '#/components/schemas/DateTimeProperty'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/releaseHold:
    post:
      tags:
        - Account - Hold
      summary: Release a hold
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountreleasehold
      operationId: accountReleaseHold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
              properties:
                customerId:
                  allOf:
                    - description: >-
                        The Helix-assigned unique ID for the customer who owns
                        the account
                    - $ref: '#/components/schemas/HelixId'
                accountId:
                  allOf:
                    - description: The Helix-assigned unique ID for the account
                    - $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account"
            target="_blank">account</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/limit/set:
    post:
      tags:
        - Account - Limit
      summary: Set account limit(s)
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitset
      operationId: accountLimitSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - limits
              properties:
                limits:
                  type: array
                  description: >-
                    An array of up to 16 <a
                    href="https://docs.helix.q2.com/docs/account-limit"
                    target="_blank">accountLimit</a> objects to create or update
                  items:
                    $ref: '#/components/schemas/AccountLimitArray200Response/allOf/1/properties/data/items'
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArray200Response/allOf/0'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/limit/list/{customerId}/{accountId}:
    get:
      tags:
        - Account - Limit
      summary: List account limits
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitList
      operationId: accountLimitList
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            An array of <a href="https://docs.helix.q2.com/docs/account-limit"
            target="_blank">accountLimit</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/limit/delete:
    post:
      tags:
        - Account - Limit
      summary: Delete account limit(s)
      description: >
        Delete one or more account limits set via <a
        href="https://docs.helix.q2.com/reference/accountlimitset"
        target="_blank">/account/limit/set</a>
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountlimitdelete
      operationId: accountLimitDelete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - limitIds
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                limitIds:
                  type: array
                  description: >-
                    An array of up to 16 <a
                    href="https://docs.helix.q2.com/docs/account-limit"
                    target="_blank">accountLimit.limitId</a>s to remove from the
                    account
                  items:
                    $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: A 200 status with no `data` property present
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArray200Response/allOf/0'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/stopPay/createCheckStopPay:
    post:
      tags:
        - Account - Stop Pay
      summary: Create check stop pay
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppaycreatecheckstoppay
      operationId: accountStopPayCreateCheckStopPay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - checkNumberMinimum
                - checkNumberMaximum
                - amountMinimum
                - amountMaximum
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                checkNumberMinimum:
                  $ref: '#/components/schemas/HelixId'
                checkNumberMaximum:
                  $ref: '#/components/schemas/HelixId'
                amountMinimum:
                  type: number
                  format: decimal
                  minimum: 0.01
                amountMaximum:
                  type: number
                  format: decimal
                  minimum: 0.01
                expireDate:
                  $ref: '#/components/schemas/DateTimeProperty'
                checkDateWritten:
                  $ref: '#/components/schemas/DateTimeProperty'
                payeeName:
                  type: string
                comment:
                  type: string
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/stop-pay"
            target="_blank">stopPay</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/stopPay/list/{customerId}/{accountId}:
    get:
      tags:
        - Account - Stop Pay
      summary: List stop pays
      description: >
        Retrieve a list of stop pays for a given customer and account. Maximum
        date range is 30 days.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppaylist
      operationId: accountStopPayList
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/AccountIdPath'
        - name: beginDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Format is YYYY-MM-DD
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Format is YYYY-MM-DD
      responses:
        '200':
          description: >-
            An array of <a href="https://docs.helix.q2.com/docs/stop-pay"
            target="_blank">stopPay</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /account/stopPay/expire:
    post:
      tags:
        - Account - Stop Pay
      summary: Expire a stop pay
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountstoppayexpire
      operationId: accountStopPayExpire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - stopPayId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                stopPayId:
                  $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/stop-pay"
            target="_blank">stopPay</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPayObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/add:
    post:
      tags:
        - Account Beneficiary
      summary: Add account beneficiary
      description: >-
        Add a beneficiary to an <a href="https://docs.helix.q2.com/docs/account"
        target="_blank">account</a>. See <a
        href="https://docs.helix.q2.com/docs/account-beneficiary"
        target="_blank">accountBeneficiary object definition</a> for parameter
        details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryadd
      operationId: accountBeneficiaryAdd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - customerBeneficiaryId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                customerBeneficiaryId:
                  $ref: '#/components/schemas/HelixId'
                distributionDescription:
                  type: string
                beneficiaryPosition:
                  type: integer
                  nullable: true
                  description: Position or order of this beneficiary on the account.
                distributionPercentage:
                  type: integer
                  nullable: true
                  minimum: 0
                  maximum: 100
                  description: Whole-number percentage of the account balance to distribute to this beneficiary. Must be between 0 and 100.
                distributionType:
                  $ref: '#/components/schemas/DistributionType'
      responses:
        '200':
          description: A confirmation the beneficiary has been added to the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/edit:
    post:
      tags:
        - Account Beneficiary
      summary: Edit account beneficiary
      description: >-
        Edit a beneficiary designation for a given <a
        href="https://docs.helix.q2.com/docs/account"
        target="_blank">account</a>. See <a
        href="https://docs.helix.q2.com/docs/account-beneficiary"
        target="_blank">accountBeneficiary object definition</a> for parameter
        details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryedit
      operationId: accountBeneficiaryEdit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - customerBeneficiaryId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                customerBeneficiaryId:
                  $ref: '#/components/schemas/HelixId'
                distributionDescription:
                  type: string
                isActive:
                  type: boolean
                beneficiaryPosition:
                  type: integer
                  nullable: true
                  description: Position or order of this beneficiary on the account.
                distributionPercentage:
                  type: integer
                  nullable: true
                  minimum: 0
                  maximum: 100
                  description: Whole-number percentage of the account balance to distribute to this beneficiary. Must be between 0 and 100.
                distributionType:
                  $ref: '#/components/schemas/DistributionType'
      responses:
        '200':
          description: A confirmation the beneficiary has been added to the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/get/{customerId}/{accountId}/{customerBeneficiaryId}:
    get:
      tags:
        - Account Beneficiary
      summary: Get an account beneficiary
      description: Get a beneficiary for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryget
      operationId: accountBeneficiaryGet
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/AccountIdPath'
        - name: customerBeneficiaryId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/account-beneficiary"
            target="_blank">accountBeneficiary</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/list/{customerId}/{accountId}:
    get:
      tags:
        - Account Beneficiary
      summary: List account beneficiaries
      description: List all beneficiaries for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiarylist
      operationId: accountBeneficiaryList
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            An array of <a
            href="https://docs.helix.q2.com/docs/account-beneficiary"
            target="_blank">accountBeneficiary</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/remove:
    post:
      tags:
        - Account Beneficiary
      summary: Remove account beneficiary
      description: Remove a beneficiary designation for a given account
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiaryremove
      operationId: accountBeneficiaryRemove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - customerBeneficiaryId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                customerBeneficiaryId:
                  $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: A confirmation the beneficiary has been removed from the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryAddEditRemove200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /accountBeneficiary/replace:
    post:
      tags:
        - Account Beneficiary
      summary: Replace account beneficiary collection
      description: >-
        Replaces the entire set of beneficiaries for the given customer and
        account with the collection provided. Saving an empty collection
        deactivates all existing active beneficiaries. See <a
        href="https://docs.helix.q2.com/docs/account-beneficiary"
        target="_blank">accountBeneficiary object definition</a> for parameter
        details. Use of this endpoint requires enhanced account beneficiaries to
        be enabled.
      externalDocs:
        url: https://docs.helix.q2.com/reference/accountbeneficiarysavecollection
      operationId: accountBeneficiaryReplace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - accountId
                - accountBeneficiaries
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                accountBeneficiaries:
                  type: array
                  description: >-
                    The complete set of beneficiaries to save for the account.
                    Replaces all existing beneficiaries. Pass an empty array to
                    deactivate all existing beneficiaries.
                  items:
                    type: object
                    required:
                      - customerBeneficiaryId
                    properties:
                      customerBeneficiaryId:
                        $ref: '#/components/schemas/HelixId'
                      beneficiaryPosition:
                        type: integer
                        nullable: true
                        description: Position or order of this beneficiary on the account.
                      distributionPercentage:
                        type: integer
                        nullable: true
                        minimum: 0
                        maximum: 100
                        description: >-
                          Whole-number percentage of the account balance to
                          distribute to this beneficiary. Must be between 0 and
                          100. The sum of all percentages within a given
                          beneficiaryPosition may not exceed 100.
                      distributionDescription:
                        type: string
                        nullable: true
                        description: >-
                          Free-form description of the distribution. At least
                          one of distributionPercentage or
                          distributionDescription must be provided.
                      distributionType:
                        $ref: '#/components/schemas/DistributionType'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node contains the saved
            account beneficiary collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBeneficiaryReplace200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /bankDocument/list/{culture}:
    get:
      tags:
        - Bank Document
      summary: List bank documents
      description: Retrieve a list of all bank documents for the given `culture`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentlist
      operationId: bankDocumentList
      parameters:
        - name: culture
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/CultureProperty'
      responses:
        '200':
          description: >-
            An array of <a href="https://docs.helix.q2.com/docs/bank-document"
            target="_blank">bankDocument</a> objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDocumentArray200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /bankDocument/download/{culture}/{documentId}:
    get:
      tags:
        - Bank Document
      summary: Download a bank document
      description: >-
        Retrieve <a href="https://docs.helix.q2.com/docs/file-content"
        target="_blank">fileContent</a> for the given `culture` and `documentId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/bankdocumentdownload
      operationId: bankDocumentDownload
      parameters:
        - $ref: '#/components/parameters/CulturePath'
        - name: documentId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            A <a href="https://docs.helix.q2.com/docs/file-content"
            target="_blank">fileContent</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContentObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/initiate:
    post:
      tags:
      - Card
      summary: Initiate a card
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardinitiate
      operationId: cardInitiate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardHolderCustomerId
              - vendorTypeCode
              - primaryAccountId
              - firstName
              - lastName
              - nickName
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                vendorTypeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardVendorTypeCode
                typeCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/CardTypeCode
                primaryAccountId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/Tag
                qualifierCode:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/QualifierCode
                binId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                newPin:
                  type: string
                  format: byte
                  description: For Shazam programs only. Visa DPS programs must call
                    the [/card/resetPin](https://docs.helix.q2.com/reference/cardresetpin)
                    endpoint separately. For physical-only cards, /card/resetPin can
                    be called once the card moves from `status=Initiated` to `status=Verified`.
                    For dual-issuance cards (physical and digital), /card/resetPin
                    can be called once the card moves from `status=Initiated` to `status=DigitalActivePhysicalPending`.
                isCreateDualIssuanceSinglePAN:
                  type: boolean
                  default: false
                  description: '`true` if this card will be an instant-issued debit
                    card ready for eCommerce activity that can also be provisioned
                    to a digital wallet. If `true` the card will be created with a
                    `status` of `DitalActivePhysicalInitiated` which will shortly
                    change to `DigitalActivePhysicalPending`. When card is in `DigitalActivePhysicalInitiated`
                    or `DigitalActivePhysicalPending` it can be provisioned into a
                    digital wallet via [/card/provision/applePay](https://docs.helix.q2.com/reference/cardprovisionapplepay)
                    or [/card/provision/googlePay](https://docs.helix.q2.com/reference/cardprovisiongooglepay).
                    When card is in `DigitalActivePhysicalPending` it will need to
                    be verified via [/card/verify](https://docs.helix.q2.com/reference/cardverify)
                    before a customer can use the physical card.

                    '
                isPhysicalCardOrdered:
                  type: boolean
                  default: true
                  description: "`true` to order a physical card, `false` to waive.\
                    \ \n"
                requestingCustomerId:
                  allOf:
                  - description: The Helix-assigned unique ID for the customer requesting
                      to create a new card for a business cardholder
                  - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardCarrierMessage:
                  type: string
                  maxLength: 6
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                cardDesignIdentificationNumber:
                  type: string
                  maxLength: 16
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                cardVendorUniqueData:
                  type: string
                  maxLength: 50
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
                photoImageId:
                  type: string
                  maxLength: 18
                  description: Identifier used uniquely by various card production
                    facilities for mapping card configurations
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/verify:
    post:
      tags:
      - Card
      summary: Verify a card
      description: Verify a customer has received a physical card and activate it
        for use.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardverify
      operationId: cardVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              - birthDate
              - cardNumberMasked
              properties:
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                birthDate:
                  type: string
                  format: date
                  description: The birthday of the `customerId` who created the card.
                    Format is YYYY-MM-DD.
                cardNumberMasked:
                  type: string
                  description: The last four digits of the card number. In sandbox
                    this value is always `1111`
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object with `status=Verified`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/verifyByCvv:
    post:
      tags:
      - Card
      summary: Verify a card by CVV
      description: Verify a card using the card verification value (CVV), expiration
        date, and optionally a requesting customer ID.
      operationId: cardVerifyByCvv
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardId
              - cardVerificationValue
              - expireMonth
              - expireYear
              properties:
                cardId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                customerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardHolderCustomerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
                cardVerificationValue:
                  type: string
                  description: The card verification value (CVV) to verify.
                expireMonth:
                  type: integer
                  description: The expiration month of the card.
                expireYear:
                  type: integer
                  description: The expiration year of the card.
                requestingCustomerId:
                  $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/schemas/HelixId32
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/get/{customerId}/{cardId}:
    get:
      tags:
        - Card
      summary: Get a card
      description: Retrieve card information by the given `customerId` and `cardId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardget
      operationId: cardGet
      parameters:
        - $ref: '#/components/parameters/CustomerIdPath'
        - name: cardId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            A <a href="https://docs.helix.q2.com/docs/card"
            target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/getByTag/{customerId}/{tag}:
    get:
      tags:
      - Card
      summary: Get a card via tag
      description: Retrieve card information by `customerId` and `tag`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardgetbytag
      operationId: cardGetByTag
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/tag
      responses:
        '200':
          description: An <a href="https://docs.helix.q2.com/reference/response-format" target="_blank">envelope</a> whose data node is a <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/list/{customerId}:
    get:
      tags:
      - Card
      summary: List cards
      description: Retrieve all card information for the given `customerId`
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardlist
      operationId: cardList
      parameters:
      - $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/parameters/customerId
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Default
          - All
          - Archived
          - Denied
          - Expired
          - Hotlisted
          - Initiated
          - Pending
          - PendingVerification
          - Reissued
          - ReissuedPendingVerification
          - AutoReissuedPendingVerification
          - Verified
          default: Default
          description: Specify a single card status to be returned. Only one value
            can be passed. `Default` includes `Archived`, `Denied`, `Expired`, `Hotlisted`,
            `Initiated`, `Pending`, `PendingVerification`, `Reissued`, `ReissuedPendingVerification`,
            `AutoReissuedPendingVerification` and `Verified`
      responses:
        '200':
          description: An array of <a href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArray200Response'
        '400':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/400
        '401':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/401
        '404':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/404
        '405':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/405
        '429':
          $ref: https://raw.githubusercontent.com/helixbyQ2/HelixOpenApi3.0Spec/prod/components/components.yaml#/components/responses/429
  /card/update:
    post:
      tags:
        - Card
      summary: Update a card
      description: >-
        See <a href="https://docs.helix.q2.com/docs/card" target="_blank">card
        object definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardupdate
      operationId: cardUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                nickname:
                  type: string
                  maxLength: 50
                tag:
                  type: string
                  maxLength: 50
                primaryAccountId:
                  $ref: '#/components/schemas/HelixId'
                expireMonth:
                  allOf:
                    - $ref: '#/components/schemas/MonthProperty'
                  description: Applies only to the Helix sandbox environment.
                expireYear:
                  allOf:
                    - $ref: '#/components/schemas/YearProperty'
                  description: Applies only to the Helix sandbox environment.
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/addAccount:
    post:
      tags:
        - Card
      summary: Add an account to a card
      description: >
        Add an account to a card. Can be reversed by calling
        [/card/removeAccount](https://docs.helix.q2.com/reference/cardremoveaccount)


        The `customerId` attempting to add the account must have an
        `accessTypeCode` of `FULL` to that account and the customer itself must
        have a `accessTypeCode` of `FULL` or `ACCT`.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardaddaccount
      operationId: cardAddAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - accountId
                - cardPriority
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                cardPriority:
                  allOf:
                    - description: >-
                        Priority the `accountId` will have. Must be between `1`
                        and `4` inclusive. If this matches the priority of an
                        existing account, that account's priority will be slid
                        down one slot (as will all other lower priority accounts
                        as needed)
                    - type: integer
                      format: int32
                      minimum: 1
                      maximum: 4
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/reprioritizeAccount:
    post:
      tags:
        - Card
      summary: Reprioritize an account on a card
      description: >
        Make changes to the order in which accounts are displayed when a <a
        href="https://docs.helix.q2.com/docs/card" target="_blank">card</a> is
        used at an ATM. For more details see <a
        href="https://docs.helix.q2.com/docs/cardreprioritizeaccount-scenarios"
        target="_blank">example scenarios guide</a>.

        The `customerId` attempting to reprioritize the account must have an
        `accessTypeCode` of `FULL` or `ACCT`.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardreprioritizeaccount
      operationId: cardReprioritizeAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - accountId
                - cardPriority
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
                cardPriority:
                  allOf:
                    - description: >
                        The new priority to give the `accountId`. Must be
                        between `1` and `4` inclusive. Other accounts tied to
                        the card in the same `productCategoryType` as the
                        `accountId` will be reprioritized accordingly. 


                        **Note**: If the account in the priority 1 slot is
                        changing AND that account is the `primaryAccountId` for
                        that card, the account that is moved into the priority 1
                        slot will be assigned as the new `primaryAccountId`.
                    - $ref: '#/components/schemas/CardPriority'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/removeAccount:
    post:
      tags:
        - Card
      summary: Remove an account from a card
      description: >
        Removes an account from a card. Can be reversed by calling
        [/card/addAccount](https://docs.helix.q2.com/reference/cardaddaccount).


        The `customerId` attempting to remove the account must have an
        `accessTypeCode` of `FULL` to that account and the customer itself must
        have a `accessTypeCode` of `FULL` or `ACCT`.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardremoveaccount
      operationId: cardRemoveAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - accountId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                accountId:
                  $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/createDigital:
    post:
      tags:
        - Card
      summary: Create a digital card
      description: >-
        Create a new card in `Verified` status that is instantly available for
        use in mobile wallets. Cards created through this endpoint will have
        `isDigitalOnly` property set to `true` whenever retrieved via the
        `/card/get` or `/card/list` endpoints. This type of card will not have a
        physical card shipped to the customer. See <a
        href="https://docs.helix.q2.com/docs/card" target="_blank">card object
        definition</a> for parameter details.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardcreatedigital
      operationId: cardCreateDigital
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardHolderCustomerId
                - vendorTypeCode
                - primaryAccountId
                - firstName
                - lastName
                - nickName
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardHolderCustomerId:
                  $ref: '#/components/schemas/HelixId'
                vendorTypeCode:
                  $ref: '#/components/schemas/CardVendorTypeCode'
                typeCode:
                  $ref: '#/components/schemas/CardTypeCode'
                primaryAccountId:
                  $ref: '#/components/schemas/HelixId'
                firstName:
                  type: string
                  maxLength: 64
                middleName:
                  type: string
                  maxLength: 64
                lastName:
                  type: string
                  maxLength: 128
                nickName:
                  type: string
                  maxLength: 50
                tag:
                  $ref: '#/components/schemas/TagProperty'
                qualifierCode:
                  $ref: '#/components/schemas/CardQualifierCode'
                binId:
                  $ref: '#/components/schemas/HelixId'
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer requesting
                        to create a new virtual card for a business cardholder
                    - $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateDigital200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/orderPhysical:
    post:
      tags:
        - Card
      summary: Order a physical card
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardorderphysical
      operationId: cardOrderPhysical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                requestingCustomerId:
                  allOf:
                    - description: >-
                        The helix-assigned unique ID for the customer requesting
                        to create a physical card for a virtual card held by a
                        business cardholder
                    - $ref: '#/components/schemas/HelixId'
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          $ref: '#/paths/~1card~1lock/post/responses/400'
        '401':
          $ref: '#/paths/~1card~1lock/post/responses/401'
        '404':
          $ref: '#/paths/~1card~1lock/post/responses/404'
        '405':
          $ref: '#/paths/~1card~1lock/post/responses/405'
        '429':
          $ref: '#/paths/~1card~1lock/post/responses/429'
  /card/lock:
    post:
      tags:
        - Card
      summary: Lock a card
      description: >
        Lock a card. Most locks can be reversed by calling
        [/card/unlock](https://docs.helix.q2.com/reference/cardunlock). Please
        check the [/card/unlock](https://docs.helix.q2.com/reference/cardunlock)
        documentation to see which lock scenarios can be subsequently unlocked. 


        Will apply a `lockTypeCode` of `CST` on success and all card-based
        transactions will fail.
      externalDocs:
        url: https://docs.helix.q2.com/reference/cardlock
      operationId: cardLock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - cardId
                - lockReasonTypeCode
              properties:
                customerId:
                  $ref: '#/components/schemas/HelixId'
                cardId:
                  $ref: '#/components/schemas/HelixId'
                lockReasonTypeCode:
                  type: string
                  enum:
                    - UNK
                    - FRD
                    - DMG
                    - TMP
                  description: |
                    - `UNK`: Unknown
                    - `FRD`: Fraud
                    - `DMG`: Physical Damage
                    - `TMP`: Temporary
      responses:
        '200':
          description: >-
            An <a href="https://docs.helix.q2.com/reference/response-format"
            target="_blank">envelope</a> whose data node is a <a
            href="https://docs.helix.q2.com/docs/card" target="_blank">card</a>
            object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardObject200Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          $ref: '#/components/schemas/HelixId'
                        message:
                          type: string
                  requestId:
                    type: string
                    example: b75a96f8-2fbc-4b14-9ba4-7b06aa431c9d
                  status:
                    type: integer
                    enum:
                      - 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                            - 50401
                        message:
                          type: string
                          example: User is not authorized
                  requestId:
                    type: string
                    enum:
                      - 00000000-0000-0000-0000-000000000000
                  status:
                    type: integer
                    enum:
                      - 401
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                            - 50404
                        message:
                          type: string
                          example: >-
                            The requested resource
                            'https://sandbox-api.helix.q2.com/customer/updat/805592'
                            was not found
                  requestId:
                    type: string
                    example: b75a96f8-2fbc-4b14-9ba4-7b06aa431c9d
                  status:
                    type: integer
                    enum:
                      - 404
        '405':
          description: HTTP Method Not Allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                            - 50405
                        message:
                          type: string
                          example: >-
                            The HTTP method 'POST' for requested resource
                            'https://sandbox-api.helix.q2.com/customer/get/805594'
                            is not allowed.
                  requestId:
                    type: string
                    enum:
                      - 00000000-0000-0000-0000-000000000000
                  status:
                    type: integer
                    enum:
                      - 405
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          enum:
                            - 50429
                        message:
[...]
